Plugins/EASy-Producer/ScenariosTest/testdata/real/INDENICA/PL_WMS_Platform/WMSsolution/WMSClient/Service References/TransportPlanningServiceReference/TransportPlanningService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="StoreBox">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="boxId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StoreBoxResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StoreBoxResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>