Plugins/EASy-Producer/ScenariosTest/testdata/real/INDENICA/PL_WMS_Platform/WMSsolution/TransportPlanningService/Service References/MaterialMgtServiceReference/MaterialMgtService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49839/MaterialMgtService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
  <xs:import schemaLocation="http://localhost:49839/MaterialMgtService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="EntityObject">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:StructuralObject">
        <xs:sequence>
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data" minOccurs="0" name="EntityKey" nillable="true" type="q1:EntityKey" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityObject" nillable="true" type="tns:EntityObject" />
  <xs:complexType name="StructuralObject">
    <xs:sequence />
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="StructuralObject" nillable="true" type="tns:StructuralObject" />
  <xs:complexType name="EntityReferenceOfLocationtype5pLEqQDt">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Locationtype" Namespace="http://schemas.datacontract.org/2004/07/DataAccess" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfLocationtype5pLEqQDt" nillable="true" type="tns:EntityReferenceOfLocationtype5pLEqQDt" />
  <xs:complexType name="EntityReference">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RelatedEnd">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.Data" minOccurs="0" name="EntityKey" nillable="true" type="q2:EntityKey" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReference" nillable="true" type="tns:EntityReference" />
  <xs:complexType name="RelatedEnd">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="RelatedEnd" nillable="true" type="tns:RelatedEnd" />
  <xs:complexType name="EntityReferenceOfRack5pLEqQDt">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Rack" Namespace="http://schemas.datacontract.org/2004/07/DataAccess" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfRack5pLEqQDt" nillable="true" type="tns:EntityReferenceOfRack5pLEqQDt" />
  <xs:complexType name="EntityReferenceOfBox5pLEqQDt">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Box" Namespace="http://schemas.datacontract.org/2004/07/DataAccess" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfBox5pLEqQDt" nillable="true" type="tns:EntityReferenceOfBox5pLEqQDt" />
  <xs:complexType name="EntityReferenceOfLocation5pLEqQDt">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Location" Namespace="http://schemas.datacontract.org/2004/07/DataAccess" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfLocation5pLEqQDt" nillable="true" type="tns:EntityReferenceOfLocation5pLEqQDt" />
  <xs:complexType name="EntityReferenceOfMaterial5pLEqQDt">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Material" Namespace="http://schemas.datacontract.org/2004/07/DataAccess" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfMaterial5pLEqQDt" nillable="true" type="tns:EntityReferenceOfMaterial5pLEqQDt" />
  <xs:complexType name="EntityReferenceOfTransportentry5pLEqQDt">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Transportentry" Namespace="http://schemas.datacontract.org/2004/07/DataAccess" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfTransportentry5pLEqQDt" nillable="true" type="tns:EntityReferenceOfTransportentry5pLEqQDt" />
</xs:schema>